body {
  font-family: Google Sans, arial, sans-serif;
  color: #70757a;
}

h1 {
  font-size: 55px;
  line-height: normal;
  margin: 0 auto;
}

h2 {
  font-size: 14px;
}

ul {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}

.temperature {
  margin-bottom: 30px;
}

.units {
  position: relative;
  font-size: 20px;
  top: -25px;
}

.location {
  margin-top: auto;
  font-size: 30px;
  line-height: 18px;
}

.date {
  font-size: 13px;
}
