body {
  font-family: Google Sans, arial, sans-serif;
  color: #70757a;
}

ul {
  margin: 0 auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}

.location {
  margin-top: auto;
}
